Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
flasgger
streamlit
tensorflow-cpu
opencv-python-headless
seaborn
tabnanny
nltk
Pillow
keras